body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.main-container {
    margin-top: 20px;
}

.aircraft-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
    margin-top: 20px;
}

.name-phone-container {
    margin-top: 20px;
}

.name-phone-text {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Carousel styling */
.carousel-item img {
    border-radius: 8px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #343a40;
}

.carousel-item img {
    max-width: 400px;
    max-height: 600px; /* Максимальна висота */
    width: auto;
    height: auto;
    object-fit: contain; /* Зберігає пропорції зображення */
}
