.main-container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.aircraft-details {
    font-size: 18px;
    margin-bottom: 15px;
}

.image-thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.name-phone-container {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.name-phone-text {
    font-size: 16px;
    margin-bottom: 10px;
}