<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<form th:method="POST" th:action="@{/}">
    <div class="messages"></div>
    <div class="controls">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="type"><span th:text="Type"></span></label>
                    <input id="type" type="text" th:field="${advertisement.aircraft.type}" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <label for="manufacturer"><span th:text="Brand"></span></label>
                <select class="form-control" th:field="${advertisement.aircraft.manufacturer}" id="manufacturer">
                    <option hidden th:value="''" th:text="''" selected></option>
                    <th:block th:each="manufacturer:${manufacturer}">
                        <option th:value="${manufacturer}" th:text="${manufacturer}"></option>
                    </th:block>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="model"><span th:text="Model"></span></label>
                    <input id="model" type="text" th:field="${advertisement.aircraft.model}" class="form-control js-name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="year"><span th:text="Year"></span></label>
                    <input id="year" type="text" th:field="${advertisement.aircraft.year}" class="form-control js-name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" th:text="Submit"></button>
            </div>
        </div>
    </div>
</form>

<th:block th:each="advertisement:${advertisements}">
<h2 th:text="${advertisement}"></h2>
</th:block>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

</body>
</html>