<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.title.profile}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}" />
</head>
<body>

<header th:replace="~{/fragments/header :: header}"></header>

<div class="container mt-3">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/myAdvertisements}" class="btn btn-primary btn-lg me-2" th:text="#{profile.label.myAdvertisements}"></a></li>
        <li><a th:href="@{/advertisement}" class="btn btn-success btn-lg" th:text="#{profile.label.createAdvertisement}"></a></li>
    </ul>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="user-info">
                <strong><span th:text="#{profile.label.name}"></span></strong>
                <span th:text="${user.name}"></span><br>
                <strong><span th:text="#{profile.label.phoneNumber}"></span></strong>
                <span th:text="${user.phone}"></span><br>
                <strong><span th:text="#{profile.label.email}"></span></strong>
                <span th:text="${user.email}"></span><br>
            </div>
            <div class="edit-button mt-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileEditModal">
                    <span th:text="#{profile.button.edit}"></span>
                </button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="profileEditModal" tabindex="-1" aria-labelledby="profileEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form th:action="@{/profile/edit}" th:method="POST">
                    <div class="form-group">
                        <label><span th:text="#{profile.label.name}"></span></label>
                        <input name="username" type="text" th:field="${user.name}" th:value="${user.name}"
                               class="form-control" pattern="[A-Z][a-z]*(([,.] |[ '-])[A-Za-z][a-z]*)*(\.?)"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label><span th:text="#{profile.label.phoneNumber}"></span></label>
                        <input name="username" type="text" th:field="${user.phone}" th:value="${user.phone}"
                               class="form-control" pattern="^\+[0-9]{3}\s\((\d+)\)-\d{3}-\d{2}-\d{2}" required="required">
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary" th:text="#{profile.button.submit}"></button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{profile.button.close}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>
</html>
