<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${advertisement.aircraft.manufacturer} + ' ' + ${advertisement.aircraft.model}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header th:replace="~{/fragments/header :: header}"></header>

<div class="main-container">
    <div class="row justify-content-center">
        <form th:action="@{/myAdvertisement}" th:method="POST" enctype="multipart/form-data">
            <input name="id" type="hidden" th:value="${advertisement.id}" id="id" class="form-control"
                   required style="width: 33%"/>
            <input name="aircraft.id" type="hidden" th:value="${aircraft.id}" id="aircraft.id" class="form-control"
                   required style="width: 33%"/>
            <div class="form-group">
                <strong><label for="type" th:text="#{advertisement.label.type}"></label></strong>
                <select class="form-control" th:field="${advertisement.aircraft.type}" id="type" style="width: 33%">
                    <option hidden th:value="aircraft.type" th:text="aircraft.type.name" selected></option>
                    <option th:if="type.name != aircraft.type.name" th:each="type : ${types}" th:value="${type.name}" th:text="${type.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <strong><label for="manufacturer" th:text="#{advertisement.label.manufacturer}"></label></strong>
                <select class="form-control" th:field="${advertisement.aircraft.manufacturer}" id="manufacturer" style="width: 33%">
                    <option hidden th:value="aircraft.manufacturer.name" th:text="aircraft.manufacturer.name" selected></option>
                    <option th:if="manufacturer.name != aircraft.manufacturer.name" th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.name}" th:text="${manufacturer.name}"></option>
                </select>
            </div>
            <div class="form-group">
                <strong><label for="model" th:text="#{advertisement.label.model}"></label></strong>
                <select class="form-control" th:field="${advertisement.aircraft.model}" id="model" style="width: 33%">
                    <option hidden th:value="aircraft.model" th:text="aircraft.model.name" selected></option>
                    <option th:if="model.name != aircraft.model.name" th:each="model : ${models}" th:value="${model.name}" th:text="${model.name}"></option>
                </select>

            </div>
            <div class="form-group">
                <strong><label for="run" th:text="#{advertisement.label.run}"></label></strong>
                <input name="run" type="text" th:value="${aircraft.run}" th:field="${advertisement.aircraft.run}" id="run" class="form-control"
                       required style="width: 33%"/>
            </div>
            <div class="form-group">
                <strong><label for="year" th:text="#{advertisement.label.year}"></label></strong>
                <input name="year" type="text" th:value="${aircraft.year}" th:field="${advertisement.aircraft.year}" id="year" class="form-control"
                       required style="width: 33%"/>
            </div>
            <div class="form-group">
                <strong><label for="color" th:text="#{advertisement.label.color}"></label></strong>
                <input name="color" type="text" th:value="${aircraft.color}" th:field="${advertisement.aircraft.color}" id="color" class="form-control"
                       required style="width: 33%"/>
            </div>
            <div class="form-group">
                <strong><label for="imageFiles" th:text="#{advertisement.label.images}"></label></strong>
                <input type="file" class="form-control-file" id="imageFiles" name="imageFiles" accept="image/*" multiple
                       required>
            </div>
            <div class="form-group">
                <strong><label for="state" th:text="#{advertisement.label.state}"></label></strong>
                <input name="state" type="text" th:value="${advertisement.state}" th:field="${advertisement.state}" id="state"
                       class="form-control" required style="width: 33%"/>
            </div>
            <div class="form-group">
                <strong><label for="price" th:text="#{advertisement.label.price}"></label></strong>
                <input name="price" type="text" th:value="${advertisement.price}" th:field="${advertisement.price}" id="price"
                       class="form-control" required style="width: 33%"/>
            </div>
            <div class="form-group">
                <strong><label for="region" th:text="#{advertisement.label.region}"></label></strong>
                <input name="region" type="text" th:value="${advertisement.region}" th:field="${advertisement.region}" id="region"
                       class="form-control" required style="width: 33%"/>
            </div>
            <div class="form-group">
                <strong><label for="city" th:text="#{advertisement.label.city}"></label></strong>
                <input name="city" type="text" th:value="${advertisement.city}" th:field="${advertisement.city}" id="city"
                       class="form-control" required style="width: 33%"/>
            </div>
            <div class="form-group">
                <strong><label for="description" th:text="#{advertisement.label.description}"></label></strong>
                <input name="description" type="text" th:value="${advertisement.description}" th:field="${advertisement.description}" id="description"
                       class="form-control" required style="width: 33%"/>
            </div>
            <div class="form-group">
                <input name="publicationDate" type="hidden" th:value="${advertisement.publicationDate}" id="publicationDate"
                       class="form-control" required style="width: 33%"/>
            </div>
            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary" th:text="#{advertisement.button.submit}"></button>
            </div>
        </form>
    </div>
</div>

<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>



